@import url('https://fonts.googleapis.com/css2?family=Changa&family=Orbitron&family=PT+Mono&family=Rubik+Glitch&display=swap');
:root {
   --changa : font-family: 'Changa', sans-serif;
   --obitron : font-family: 'Orbitron', sans-serif;
   --mono : font-family: 'PT Mono', monospace;
   --new : font-family: 'Rubik Glitch', cursive;
   --primary-white : rgb(248,249,250);
   --primary-dark : #000;
   --primary-tomato : tomato;
   /* --primary-white : rgb(255, 255, 255); */
}

@media (max-width: 768px) {
    .myAbout {
    padding-left: 5vh!important;
    /* padding-bottom: 10vh; */
    }

    ul, h1, h1.h3 {
        left: -5vh;
        position: relative;
    }

    ul > li > a.aSecond {
        margin-right: 0!important;
        display: flex;
        flex-direction: row;
        float: none!important;
    }

    p.textPharagraph {
        margin-right:3vh!important;
    }

    p.p1 {
        position: relative;
        left: -5vh;
    }

 }

.myAbout {
    width: 100%;
    height: auto;
    background-color: var(--primary-white);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 30vh;
    padding-left: 20vh;
    padding-bottom: 10vh;
}

h1, h3 {
    font-family: 'Rubik Glitch', cursive;
    text-shadow: tomato 3px 0px;
    text-transform: uppercase;
    word-spacing: 5px;
}

h1.h3 {
    margin-top: 10vh;
}


.iconmore {
    font-size: 14!important;
    font-weight: 700;
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: var(--primary-dark);
    opacity: 55%;
    font-family: 'Changa', sans-serif;
}

.iconmore:hover {
    color: var(--primary-tomato);
    opacity: 100%;
}

ul {
    list-style-type: circle;
    font-family: 'Changa', sans-serif;
    width: 100%;
}

li:not(:first-child) {
    margin-top: 30px;
}

ul > li > a.aFirst {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: var(--primary-dark);
    cursor: pointer;
}

ul > li > a.aFirst:hover {
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    color: var(--primary-tomato);
}

ul > li > a.aSecond {
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    color: var(--primary-dark);
    float: right;
    margin-right: 15vh;
    cursor: pointer;
}

ul > li > a.aSecond:hover {
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    color: var(--primary-tomato);
    float: right;
    margin-right: 15vh;
}

p.textPharagraph {
    margin-right: 15vh;
}